<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /kss_blog/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /kss_blog/index.php [L]
</IfModule>
